/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #01080E;
    color: white;
}


/* Container padrão */
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 1rem;
}


main {
    max-width: 1160px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #2c3e50;
    color: white;
    font-size: 0.9rem;
    margin-top: 2rem;
}
